@model livraria_les.Models.Livro

@{
    ViewBag.Title = "Ativar Livro";
}

<h2>Ativar Livro</h2>

<div>
    <h4>Livro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtCadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DtCadastro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Edicao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Edicao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sinopse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodBarras)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodBarras)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumPag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumPag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dimensoes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dimensoes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Justificativa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Justificativa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorVenda)
        </dt>
        <dd>
            R$ @Html.DisplayFor(model => model.ValorVenda)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorCompra)
        </dt>
        <dd>
            R$ @Html.DisplayFor(model => model.ValorCompra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estoque)
        </dd>
    </dl>
</div>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.CategoriaAtivacao, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{ SelectList CategoriaAtivacaoDDL = ViewBag.SubcategoriaDDL; }
            @Html.DropDownList("CategoriaAtivacaoDDL", CategoriaAtivacaoDDL, String.Empty, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Justificativa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Justificativa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Justificativa, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-offset-1">
        <input type="submit" value="Ativar" class="btn btn-primary" />
        @Html.ActionLink("Voltar", "Index")
    </div>
}