@model livraria_les.Models.Categoria
@{
    ViewBag.Title = "Categoria Cadastrar";
}
<br />

@if (string.IsNullOrWhiteSpace(ViewBag.Erro))
{
    if (!string.IsNullOrWhiteSpace(ViewBag.Message))
    {
        <div class="alert alert-success">@ViewBag.Message</div>
    }
}
else
{
    string erro = ViewBag.Erro;
    erro = erro.Replace("//", "<br />");
    <div class="alert alert-danger">@Html.Raw(erro)</div>
}

<h2>Cadastrar Caategoria</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>    
    </div>
    <div>
        <input type="submit" value="Inserir" class="btn btn-primary" />
        @Html.ActionLink("Voltar", "Index")
    </div>    
}