@model IEnumerable<livraria_les.Models.Cartao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar", "Cadastrar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeImpresso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bandeira)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtVencimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preferencial)
        </th>
        <th>
            @Html.DisplayName("Ações")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeImpresso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bandeira)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtVencimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preferencial)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Deletar", "Deletar", new { id=item.Id })
        </td>
    </tr>
}

</table>
